.botoninicio{
	text-align: center;
	padding: 7px;
}
button {
	background-color: #2E64FE;
	padding: 10px;
	font-weight: 90;
	font-size: 18px;
	border-radius: 6px;
	border: 2px solid #0016b0 ;
}

.container{
	border: black 1px solid;
	margin: 40px;
}
.encabezado{
	display: block;
	background-color: #D8D8D8;
	margin-top: -19px;
}
.columna{
	display: inline-block;
	width: 38%;
	padding-left: 10px;
}
.ready{
	background-color: #D8D8D8;
	margin: 15px;
}
.rayito{
	background-color: 0;
    padding-right: 85%;
}